@charset "utf-8"

// Set your brand colors
$white: #f3efe0
// $purple: #8a4d76
// $pink: #fa7c91
// $brown: #757763
// $beige-light: #d0d1cd
// $beige-lighter: #eff0eb

// // Update Bulma's global variables
$family-sans-serif: "Inter", sans-serif
$family-serif: "Lora", serif
$family-code: 'Source Code Pro', monospace
// $family-primary: $family-sans-serif
// $family-secondary: $family-sans-serif
// $grey-dark: $brown
// $grey-light: $beige-light
// $primary: $purple
// $link: $pink

// // Update some of Bulma's component variables
$body-min-width: 280px
// $body-background-color: $beige-lighter
// $control-border-width: 2px
// $input-border-color: transparent
// $input-shadow: none

@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all"
