---
import Layout from "../layouts/Layout.astro";
import AppNav from "../components/AppNav.astro";
import Coverpage from "../components/Coverpage.astro";
---

<Layout title="Mesbah Mowlavi Profile">
  <AppNav />

  <Coverpage />
  <section class="hero is-fullheight">About me</section>
</Layout>
