---
import LogoSpot from "../LogoSpot.astro";
import ProjectTile from "../ProjectTile.astro";
---

<section class="hero projects">
  <LogoSpot />
  <div class="header">
    <div class="header-inner">
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2>Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
      <h2 class="outline">Projects</h2>
    </div>
  </div>

  <div class="info">
    I have been fortunate enough to work on some exciting projects over the
    years. Here are a selection of my favourites.
  </div>

  <div class="project-list">
    <div class="project-tag label vert tablet-up-block">SELECTED PROJECTS</div>

    <ProjectTile
      title="Unify"
      subtitle="Workspace \nExperience Platform"
      tileImage="/img/projtile_unify.jpg"
      logoImage="/img/projlogo_unify.png"
      links={[
        { label: "Project Homepage", url: "https://unifyworkspace.com" },
        { label: "Case Study Coming Soon" },
      ]}
    />

    <ProjectTile
      title="Definery"
      subtitle="Scope-of-Work \nDatabase & Manager"
      tileImage="/img/projtile_definery.jpg"
      logoImage="/img/projlogo_definery.png"
      links={[{ label: "Case Study Coming Soon" }]}
    />
    <ProjectTile
      title="SwiftHire"
      subtitle="Smart Applicant \nTracking System"
      tileImage="/img/projtile_swifthire.jpg"
      logoImage="/img/projlogo_swifthire.png"
      links={[
        {
          label: "Project Screenshots",
          url: "https://docs.google.com/document/d/e/2PACX-1vSZ9KYDlUwAkQLpBVqAcDDxhgYF9vX10EK3LkxBO3TMnpBqjza-l-qxr9eZg70WHEt_DPwstNQjhsJ2/pub",
        },
        { label: "Case Study Coming Soon" },
      ]}
    />
    <ProjectTile
      title="Scrapless"
      subtitle="Food Waste \nPrevention App"
      tileImage="/img/projtile_scrapless.jpg"
      logoImage="/img/projlogo_scrapless.png"
      links={[{ label: "Case Study Coming Soon" }]}
    />
  </div>
</section>

<style lang="scss">
  @import "../../styles/theme.sass";

  .hero.projects {
    position: relative;
    background-color: $dim-blue;
    justify-content: flex-start;

    .header {
      position: relative;
      overflow: hidden;
      width: 100%;
      display: flex;

      border-top: 1px solid $white;
      gap: 20px;
      height: 75px;
      margin-top: 50px;
      align-items: center;

      @include tablet {
        width: calc(100% - 18rem);
        border-top: none;
        border-left: 1px solid $white;
        margin-top: 0;
        margin-left: 18rem;
        height: 12.5vh;
      }

      .header-inner {
        position: relative;
        display: flex;
        white-space: nowrap;
        animation: header_marquee_mobile 40s linear infinite;
        @include tablet {
          animation: header_marquee_desktop 40s linear infinite;
        }

        h2 {
          width: 340px;
          font-size: 80px;
          font-weight: 500;
          &.outline {
            color: transparent;
            -webkit-text-stroke: 1px $white;
          }
          @include tablet {
            width: 540px;
            font-size: 130px;
            font-weight: 500;
          }
        }
      }

      @keyframes header_marquee_mobile {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(calc(-4 * 340px), 0, 0);
        }
      }
      @keyframes header_marquee_desktop {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(calc(-4 * 540px), 0, 0);
        }
      }
    }

    .info {
      padding: 2.25rem;
      border-top: 1px solid $white;
      text-align: center;
    }

    .project-list {
      border-top: 1px solid $white;
      position: relative;
      @include tablet {
        padding-left: 3.2rem;
      }
      .project-tag {
        position: absolute;
        left: 14px;
        top: 50px;
      }
    }
  }
</style>
