<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"> Mesbah.</a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<style lang="scss">
  @import "../styles/theme";
  .navbar {
    display: flex;
    padding: 0 0.5rem;
    background: transparent;

    .navbar-brand {
      flex: 1;

      .navbar-item {
        padding: 0;
        font-size: 38px;
        color: $white;
      }
    }
    @include tablet {
      height: 12.5vh;
      padding: 0 2.5rem;
    }
  }
</style>
