<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"> Mesbah.</a>
  </div>
</nav>

<style lang="scss">
  @import "../styles/theme";
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    z-index: 100;

    .navbar-item {
      padding: 0;
      font-size: 38px;
      color: $white;
      text-decoration: none;
    }
    @include tablet {
      height: 12.5vh;
      padding: 0 3rem;
    }
  }
</style>
