<section class="hero is-fullheight">
  <div class="top-line"></div>

  <div class="marquee">
    <div class="marquee-inner" aria-hidden="true">
      <span>Engineer</span>
      <span>Engineer</span>
      <span>Engineer</span>
      <span>Engineer</span>
    </div>
  </div>

  <!-- <div class="segment">
    <span>Designer</span>
    <span>Designer</span>
    <span>Designer</span>
  </div>

  <div class="segment creator">
    <span>Creator</span>
    <span>Creator</span>
    <span>Creator</span>
  </div>

  <img class="selfie" src="/img/me.png" />
  <img class="selfie me3" src="/img/me3.png" /> -->
</section>

<style lang="scss">
  @import "../styles/animations.sass";
  @import "../styles/theme.sass";

  .hero {
    position: relative;
    // padding-top: 57px;
    width: 100vw;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  .marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vh;
    --move-initial: calc(-25vh);
    --move-final: calc(-50vh);
  }

  .marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(0, var(--move-initial), 0);
    animation: marquee 5s linear infinite;
  }

  .marquee span {
    font-size: 10vw;
    padding: 0 2vw;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, var(--move-initial), 0);
    }

    100% {
      transform: translate3d(0, var(--move-final), 0);
    }
  }

  .marquee {
    width: 33.3333%;
    // height: calc(100vh - 57px);
    height: 100vh;
    transform: rotate(180deg);
    white-space: nowrap;
    span {
      line-height: 33vw;
      font-size: min(25vw, 18vh);
      font-weight: 500;
    }
  }
  //   span {
  //     position: absolute;
  //     // width: 300px;
  //     line-height: 33vw;
  //     font-size: min(25vw, 18vh);
  //     font-weight: 500;
  //     animation: marquee 5s linear infinite;
  //   }
  // }

  // img.selfie {
  //   display: none;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   &.me3 {
  //     z-index: 2;
  //   }
  // }
</style>
