<div class="logo-spot tablet-up-flex">Mesbah.</div>
<style lang="scss">
    @import "../styles/theme";
    .logo-spot {
        position: absolute;
        height: 12.5vh;
        color: rgba($white, 0.25);
        font-size: 38px;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        z-index: 3;
    }
</style>
